.header {
  background: $brand-primary-color;
  color: $white-color;
}

.header__content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $site-max-width;
  padding: $space;
}

.header__title {
  margin: 0;
}